{% extends "templates/main_template.html" %}

{% block content %}

<!--------------------INIT DESKTOP-------------------------->
<div class="row-fluid greeter " >
  {% if rand_seasons %}
  <div class="span7">
    <div id="myCarousel" class="carousel slide hidden-phone">
      <div class="carousel-inner">
        {%for season in rand_seasons %}
        <div class="item {{ loop.cycle ('active','st-not-active','st-not-active-yet') }}">
            {% if season.season.best_carrousel_picture %}
              <img src="{{ season.season.best_carrousel_picture}}" alt="{{season.season.montage.name}}" height="300" />
            {% else %}
              <img src="http://bit.ly/ThbNXE" height="300" alt="{{season.season.montage.name}}">
            {% endif %}
            <div class="carousel-caption" >
              <h1>{{season.season.montage.name}}</h1>
              <p>{{season.season.montage.description|truncate(180,False,"...")}}</p>
            </div>
            <a href="/obras/{{season.season.montage.slug}}"><span class="panelLink"></span></a>
        </div>
        {% endfor %}

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    <div id="" class="visible-phone">
      <h1 class="visible-phone">EN CARTELERA</h1>
      {% for season in rand_seasons %}
      <a href="/obras/{{season.season.montage.slug}}">
        <h2>{{season.season.montage.name}}</h2>
        <p>{{season.season.montage.description|truncate}}</p>
      </a>
      {%endfor%}
    </div>
  </div>
  {% endif %}
  <div class="span3 ">
    <h1 class="hidden-phone">Anda al teatro<span style="font-size:1px">Conchetumare</span></h1>
    <div id="erCalendario" style="" class="hidden-phone">
      <div id="" class="row-fluid day-names">
        <div class="span1 day-name" >Lu</div>
        <div class="span1 day-name" >Ma</div>
        <div class="span1 day-name" >Mi</div>
        <div class="span1 day-name" >Ju</div>
        <div class="span1 day-name" >Vi</div>
        <div class="span1 day-name" >Sa</div>
        <div class="span1 day-name" >Do</div>
      </div>
      {% for week in calendar_presentations%}
      <div id="" class="row-fluid week">
        {%for day in week %}
        <div class="span1 day {%if not day.current_month%}other-month{%endif%} {%if day.has_shows%}has-shows{%endif%}">
          {%if day.is_today %}
          <a href="/obras/hoy">{{day.day}}</a>
          {%else%}
          <a href="/obras/desde/{{day.date_string}}/hasta/{{day.date_string}}" >{{day.day}}</a>
          {%endif%}
        </div>
        {%endfor%}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="span2">
    <a class="twitter-timeline"  href="https://twitter.com/soloteatro"  data-widget-id="313722139775733760" >Tweets @soloteatro</a>
  </div>
</div>
<div class="row">
  <header>
    <h1 class="visible-phone">NOTICIAS</h1>
    <h1 class="hidden-phone">Noticias</h1>
  </header>
  <div id="newsContainer">
    {%for article in latest_articles %}
    <div class="article span3">
      <a href="/noticias/{{article.slug}}"><h4>{{article.title}}</h4></a>
    </div>
    {%endfor%}
  </div>
</div>
<div class="divider"></div>

{% endblock content %}
{% block js_activities %}
<script>

  $('.carousel').carousel()
</script>
{% endblock %}