{% extends "templates/admin_template.html" %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    {%if montage%}
    <h1>Editando {{montage.name}}</h1>
    {%else%}
    <h1>Agregar un montaje</h1>
    <div class="alert">
      <button class="close" data-dismiss="alert">×</button>
      <p><strong>Atenci&oacute;n!</strong> Recuerda que est&aacute;s agregando un <strong>montaje</strong>, si el montaje ya existe te recomiendo que agregues una nueva <strong><a href="/admin/season/add">Temporada</a></strong> del montaje.</p>
    </div>
    {%endif%}
  </div>
</div>
<div class="row-fluid">
  <div class="span9 offset3">
    <form class="form-horizontal" method="post" >
      <fieldset>
        <legend>Datos del Montaje</legend>
        
        <div class="control-group">
          <label class="control-label" for="montage_name">Nombre del montaje</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="montage_name" name="montage_name"
            data-provide="typeahead" data-items="4" 
            data-source=""
            value="{%if montage%}{{montage.name}}{%endif%}"
            >
            <p class="help-block">Ej. El rucio de los cuchillos, Art, Invasión.</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="montage_writer">Dramaturgo</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="montage_writer" name="montage_writer"
            value="{%if montage%}{{montage.writer}}{%endif%}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="montage_director">Director</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="montage_director" name="montage_director"
            value="{%if montage%}{{montage.director}}{%endif%}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="montage_company">Compañía</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="montage_company" name="montage_company"
            value="{%if montage%}{{montage.company}}{%endif%}">
          </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="montage_genre">Género</label>
            <div class="controls">
              <select class="input-xlarge" id="montage_genre" name="montage_genre">
                {%for genre in genres %}
                <option value="{{genre.slug}}" {%if montage and montage.genre.slug == genre.slug%}selected="selected"{%endif%}>{{genre.name}}</option>
                {%endfor%}
              </select>
              <p class="help-block">Elige de la lista</p>
            </div>
          </div>

        <div class="control-group">
          <label class="control-label" for="montage_description">Argumento de la obra</label>
          <div class="controls">
            <textarea class="input-xxlarge" id="montage_description" name="montage_description" rows="5">{%if montage%}{{montage.description}}{%endif%}</textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="montage_gallery">Dirección Galería Fototeatro</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="montage_gallery" name="montage_gallery" {%if montage%}value="{{montage.external_gallery}}"{%endif%}>
          </div>
        </div>

        <div class="form-actions">
          <input type="submit" value="{%if montage%}Editar{%else%}Agregar{%endif%} Montaje" class="btn btn-primary" />
          <input type="reset" value="Limpiar" class="btn btn-warning" value=""/>
        </div>
    </form>
  </div>
</div>

{% endblock content %}
{% block js_activities %}

{% endblock js_activities %}