{% extends "templates/main_template.html" %}
{% block content %}


<div class="row-fluid">
	<div class="span8">
		<h1 style="text-transform:capitalize;">{{genre.name}}</h1>
	</div>
	<div class="span4">
	</div>
</div>
<section>
	<div class="row" >
		<div class="span12" style="">
			<ul class="thumbnails presentation-mosaic">
	        {%for season in open_seasons%}
		        <li class="span3" style="">
		        	<a href="/obras/{{season.montage.slug}}">
			          	<div class="thumbnail" style="" >
			            	<div class="caption" style="">
			              		<h5>{{season.montage.name}}</h5>
			            	</div>
			            	{% if season.best_picture %}
			            	<img src="{{ season.best_picture}}" alt="{{season.montage.name}}" class="span12"/>
			            	{% else %}
			            	<img src="http://bit.ly/WkY9kw" alt="{{season.montage.name}}" class="span12"/>
			            	{% endif %}
			          	</div>
		          	</a>
		        </li>
		    {%endfor%}
			</ul>
		</div>
	</div>
</section>

{% endblock content %}
