{% extends "../../../templates/main_template.html" %}
{%block page_title%}
  {{post.title}}
{%endblock page_title%}
{% block content %}
<div class="row">
  <div class="span10">
    <div class="page-header">
      <h1>{{post.title}}</h1>
    </div>
  </div>
  {% if logged_user.is_administrator %}
  <div class="span2 last"><a href="/posts/{{post.slug}}/edit" class="btn large primary">Editar</a></div>
  {% endif %}
</div>
<div class="row">
  <div class="span5 last">
    <small>Publicado el {{post.date_created|date:"d/m/Y"}} por {{post.creator.name}}</small>

  </div>
  <div class="fb-like span6" data-send="false" data-layout="button_count" data-width="60" data-show-faces="true" data-font="segoe ui"></div>
</div>

<div class="row">
  
  <div class="textContent span12">
    <article>
      {{markdown_html}}
    </article>
  </div>
  
</div>
<div class="row">
  <div class="page-header">
    <h2>Comentarios</h2>
  </div>
</div>
<div class="row">
  <div class="fb-comments span10" data-href="http://soloteatroapp.appspot.com/obras/{{post.slug}}" data-num-posts="5" data-width="600"></div>
</div>
<div class="row">
  <div class="span8">
    <a href="/posts/">Volver a los artículos</a>
  </div>
</div>

{% endblock content %}