{% extends "templates/main_template.html" %}
{% block content %}


<div class="row-fluid">
  <div class="span8">
    <h1 style="text-transform:capitalize;">Teatros</h1>
  </div>
  <div class="span4">
  </div>
</div>
<section>
  <div class="row" >
    <div class="span12" style="">
      <ul class="thumbnails presentation-mosaic">
          {%for venue in venues%}
            <li class="span3" style="">
              <a href="/teatros/{{venue.slug}}">
                  <div class="thumbnail" style="" >
                    <div class="caption" style="">
                      <h4>{{venue.name}}</h4>
                      <p>{{venue.address}}</p>
                    </div>
                    <img src="http://bit.ly/WkY9kw" alt="" class="span12"/>
                  </div>
                </a>
            </li>
        {%endfor%}
      </ul>
    </div>
  </div>
</section>

{% endblock content %}