{% extends "admin_template.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span12">
		<h1>Agregando Obras... Express!</h1>
		<div class="alert">
		  <button class="close" data-dismiss="alert">×</button>
		  <p><strong>Atenci&oacute;n!</strong>
		  	Estás agregando una obra express! Eso significa que vas a crear un montaje al mismo tiempo que creas su primera temporada. Ten mucho cuidado, porque si <strong>ya existe el montaje quedará la tendalá!</strong>.</p>
		  <p>Puedes revisar esta lista de montajes para asegurar que no est&aacute;, de encontrarse y ser solamente una nueva temporada hazle click al boton <em>Nueva temporada de este montaje</em>.</p>
		  <form class="form-inline">
		  	<input type="text" /><input type="submit" class="btn-primary" value="Nueva temporada de este montaje" />
		  </form>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span9 offset3">
		<form class="form-horizontal" method="post" >
		  	<h2>Del Montaje...</h2>
		  	<fieldset>
		    	<legend>Datos del Montaje</legend>
		    
			    <div class="control-group">
			      <label class="control-label" for="montage_name">Nombre del montaje</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" id="montage_name" name="montage_name">
			        <p class="help-block">Ej. El rucio de los cuchillos, Art, Invasión.</p>
			      </div>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="montage_writer">Dramaturgo</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" id="montage_writer" name="montage_writer">
			      </div>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="montage_director">Director</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" id="montage_director" name="montage_director">
			      </div>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="montage_genre">Género</label>
			      <div class="controls">
			        <select class="input-xlarge" id="montage_genre" name="montage_genre">
			        	<option>Drama</option>
			        	<option>Comedia</option>
			        	<option>Familiar</option>
			        	<option>StandUp</option>
			        	<option>Fisico</option>
			        	<option>Impro</option>
			        	<option>Musical</option>
			        	<option>Callejero</option>
			        	<option>Marionetas</option>
			        	<option>Performance</option>
			        	<option>Otras</option>
			        </select>
			        <p class="help-block">Elige de la lista</p>
			      </div>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="montage_description">Argumento de la obra</label>
			      <div class="controls">
			       	<textarea class="input-xxlarge" id="montage_description" name="montage_description" rows="5"></textarea>
			      </div>
			    </div>
			</fieldset>
			<h2>La temporada...</h2>
			<fieldset>
			    <legend>Datos de la Temporada</legend>
			    
			 	<div class="control-group">
			      <label class="control-label" for="season_venue">Teatro</label>
			      <div class="controls">

			        <select  class="input-xlarge" id="season_venue" name="season_venue">
			        	{% for venue in venue_list %}
			        	<option value="{{venue.key}}">{{venue.name}}</option>
			        	{% endfor %}
			        </select>
			      </div>
			      <p class="help-block">Elige un teatro de la lista, si no existe, crealo y vuelve a intentar. Si es teatro itinerante, estas cagado.</p>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="season_start">Fecha inicio temporada</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" id="season_start" name="season_start" required>
			      </div>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="season_end">Fecha fin temporada</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" id="season_end" name="season_end" required>
			      </div>
			    </div>
			</fieldset>
			<fieldset>
			    <legend>Ficha Técnica</legend>

			    <div class="control-group">
			      <label class="control-label" for="season_cast">Elenco</label>
			      <div class="controls">
			        <textarea class="input-xlarge" id="season_cast" name="season_cast" rows="5"></textarea>
			      </div>
			      <p class="help-block">Separa los actores por comas.</p>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="season_producer">Productor</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" id="season_producer" name="season_producer">
			      </div>
			    </div>

			    <div class="control-group">
			      <label class="control-label" for="season_technical_team">Equipo Técnico</label>
			      <div class="controls">
			        <textarea class="input-xlarge" id="season_technical_team" name="season_technical_team" rows="5"></textarea>
			      </div>
			    </div>
			 </fieldset>
			 <fieldset>
			 	<legend>Presentaciones y horarios</legend>
			 	<div class="row-fluid">
			 		<div class="span4">
			    
			    		<p class="help-block">Ok, este es el trato. Esto funciona cuando hay máximo una presentación al día. No es lo más choro, pero es un buen comienzo.</p>
			    		<p class="help-block">Marca los días en que van a ser las presentaciones, y anota la hora de la presentación de ese día.</p>
			    	</div>
			    	<div class="span4">
					    <div class="control-group">
					      	<table class="table">
					      		<thead>
					      			<tr>
					      				<th>Día presentación</th><th>Hora</th>
					      			</tr>
					      		</thead>
					      		<tbody>
					      			<tr>
					      				<td><label for="plays_on_monday"><input type="checkbox" name="plays_on_monday" value="true" /> Lunes</label></td>
					      				<td><input type="text" name="monday_showtime" class="input-mini time-entry" pattern="\d\d:\d\d" value="20:00" /></td>
					      			</tr>
					      			<tr>
					      				<td><label for="plays_on_tuesday"><input type="checkbox" name="plays_on_tuesday" value="true" /> Martes</label></td>
					      				<td><input type="text" name="tuesday_showtime"  class="input-mini time-entry" pattern="\d\d:\d\d" value="20:00"  /></td>
					      			</tr>
					      			<tr>
					      				<td><label for="plays_on_wednesday"><input type="checkbox" name="plays_on_wednesday" value="true" />Miércoles</label></td>
					      				<td><input type="text" name="wednesday_showtime"  class="input-mini time-entry" pattern="\d\d:\d\d" value="20:00"  /></td>
					      			</tr>
					      			<tr>
					      				<td><label for="plays_on_thursday"><input type="checkbox" name="plays_on_thursday" value="true" /> Jueves</label></td>
					      				<td><input type="text" name="thursday_showtime"  class="input-mini time-entry" pattern="\d\d:\d\d" value="20:00"  /></td>
					      			</tr>
					      			<tr>
					      				<td><label for="plays_on_friday"><input type="checkbox" name="plays_on_friday" value="true" /> Viernes</label></td>
					      				<td><input type="text" name="friday_showtime"  class="input-mini time-entry" pattern="\d\d:\d\d" value="20:00"  /></td>
					      			</tr>
					      			<tr>
					      				<td><label for="plays_on_saturday"><input type="checkbox" name="plays_on_saturday" value="true" /> Sábado</label></td>
					      				<td><input type="text" name="saturday_showtime"  class="input-mini time-entry" pattern="\d\d:\d\d" value="20:00"  /></td>
					      			</tr>
					      			<tr>
					      				<td><label for="plays_on_sunday"><input type="checkbox" name="plays_on_sunday" value="true" /> Domingo</label></td>
					      				<td><input type="text" name="sunday_showtime"  class="input-mini time-entry" pattern="\d\d:\d\d" value="20:00"  /></td>
					      			</tr>
					      		</tbody>
					      	</table>
					    </div>
					</div>
				</div>
			    
			</fieldset>
			<fieldset>
				<legend>Precios</legend>
				<div class="row-fluid">
					<div class="span4">
						<p class="help-block">Coloca cada tipo de precio en una línea, ejemplo: </p>
						<p class="help-block">"Jueves populares: $1000", "Adulto mayor: $2500".</p>
					</div>
			 		<div class="span4">
						<div class="control-group">
					    	<label class="control-label" for="season_prices">Precios</label>
					      	<div class="controls">
					       		<textarea class="input-xlarge" id="season_prices" name="season_prices" rows="5" required="required" wrap="hard"></textarea>
					      	</div>
					    </div>
					</div>
				</div>
			</fieldset>
		    <div class="form-actions">
		    	<input type="submit" value="Agregar Montaje" class="btn btn-primary" />
		    	<input type="reset" value="Limpiar" class="btn btn-warning" value=""/>
		    </div>
		</form>
	</div>
</div>

{% endblock content %}
{% block js_activities %}
<style type="text/css">@import "/js/datepick/jquery.datepick.css";</style> 
<script type="text/javascript" src="/js/datepick/jquery.datepick.js"></script>
<script type="text/javascript" src="/js/datepick/jquery.datepick-es.js"></script>
<script src="/js/timepicker/jquery.ui.timepicker.js"></script>
<style type="text/css">@import "/js/timepicker/jquery.ui.timepicker.css";</style> 
<script type="text/javascript"> 
	$(function() {
		$( "#season_start" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 3,
			onSelect: function( selectedDate ) {
				$( "#season_end" ).datepicker( "option", "minDate", selectedDate );
			}
		});
		$( "#season_end" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 3,
			onSelect: function( selectedDate ) {
				$( "#season_start" ).datepicker( "option", "maxDate", selectedDate );
			}
		});
		

		$(".time-entry").timepicker({
			hourText: 'Horas',
			minuteText: 'Minutos',
			minutes: {
        		starts: 0,                // First displayed minute
        		ends: 55,                 // Last displayed minute
        		interval: 5               // Interval of displayed minutes
    		}, 
    	});

	});
	
	
</script> 
{% endblock js_activities %}