{% extends "admin_template.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span12">
		<h1>Montajes</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span9">
		<table class="table-striped span9">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Director</th>
					<th>G&eacute;nero</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{%for montage in montage_list%}
					<tr>
						<td>{{montage.name}}</td>
						<td>{{montage.director}}</td>
						<td>{{montage.genre}}</td>
						<td>Ver</td>
					</tr>
				{%endfor%}
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</div>
</div>
{% endblock content %}