{% extends "admin_template.html" %}
{% block content %}

<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>{{montage.name}}</h1>
		</div>
	</div>
</div>
<section id="montage-description">
  <div class="row">
  	<div class="span6">
  		<div>{{montage.description}}</div>
      <h2>Ficha Técnica</h2>
      <h3><small>Director </small>{{montage.director}}</h3>
  		<h3><small>Género </small>{{montage.genre}}</h3>
  		
  	</div>
  	<div class="span6">
      {%for media in montage.related_media %}
        {% if media.selected %}
          {% if media.class_name == 'STPicture' %}
            <img src="{{media.url}}" alt="{{montage.name}}"/>
          {%endif%}
        {% endif %}
      {%endfor%}
  	</div>
    
  </div>
</section>  
<section id="montage-seasons">
  <div class="row">
    
    <div class="span8">
      <h2>Temporadas de este Montaje</h2>
      {% for season in montage.seasons %}
        <div>
          <h3>Temporada {{season.repetition}}</h3>
          <h4>Del {{season.start|date:"SHORT_DATE_FORMAT"}} al {{season.end|date:"SHORT_DATE_FORMAT"}} </h4>
          <h4>en <a href="/admin/venues/{{season.venue.slug}}">{{season.venue.name}}</a></h4>

        </div>
      {% empty %}
        <div class="alert">
          <button class="close" data-dismiss="alert">×</button>
          <p>Actualmente, este montaje no tiene ninguna temporada. Si quieres agregarle una puedes ir al <a href="/admin/seasons/add">Administrador de Temporadas</a> o agregar una temporada a este montaje <a href="/admin/montages/{{montage.slug}}/seasons/add">directamente</a>.</p>
        </div>
      {% endfor %}
    </div>
    <div class="span4">
      <h2>Opciones</h2>
      <form class="form-inline">
        <a href="/admin/montages/{{montage.slug}}/seasons/add" class="btn btn-primary btn-large"><i class="icon-plus-sign icon-white"></i> Temporada</a>
        <a href="/admin/montages/{{montage.slug}}/pictures/add" class="btn btn-large"><i class="icon-plus-sign"></i> Imagen</a>
        <a href="/admin/montages/{{montage.slug}}/videos/add" class="btn btn-large"><i class="icon-plus-sign"></i> Video</a>  
      </form>
    </div>
  </div>
</section>
<section id="montage-media">
  <div class="page-header">
    <h1>Multimedia asociada</h1>
  </div>
  
  <div class="row">
    <ul class="thumbnails presentation-mosaic">
        {%for media in montage.related_media %}
          <li class="span4" style="">
            <div class="thumbnail">
            {% if media.class_name == 'STVideo' %}
              <iframe class="span4" height="180" src="http://www.youtube.com/embed/{{media.video_id}}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            {% if media.class_name == 'STPicture' %}
              <img  height="180" src="{{media.url}}" alt="{{montage.name}}"/>
            {% endif %}
            </div>
          </li>
        {% endfor %}
    </ul>
    
  </div>
  
</section>

{% endblock content %}
{% block js_activities %}

{% endblock js_activities %}