{% extends "main_template.html" %}
{% block content %}

<div class="page-header">
	<h1>Quienes somos en soloteatro?</h1>
</div>


<div class="row-fluid">
	<div class="span3">
		<ul class="thumbnails">
			<li class="span12">
				<div class="thumbnail">
					<img src="http://www.soloteatro.cl/contenidoMultimedia/obras/obra_prin_201206260628_539803_4270423725588_905333780_n.jpg" />
					<div class="caption">Josefina Yáñez</div>
				</div>
			</li>
			<li class="span12">
				<div class="thumbnail">
					<img src="http://4.bp.blogspot.com/-qzx83u7TZYY/TqLrC1g0VfI/AAAAAAAAAFo/2QZZhbDU0Qo/s1600/n728723376_889279_4047.jpg" />
				</div>
			</li>
		</ul>
	</div>
	<div class="span6">
		<p>soloteatro.cl es un sitio web que actúa como medio de difusión especializado para los montajes teatrales que se desarrollan en las diferentes salas de la Región Metropolitana. Este proyecto, a cargo de cuatro actores, se funda en marzo del 2007 comenzando su primer periodo de marcha blanca hasta su lanzamiento oficial en agosto del mismo año. Además, es importante destacar que www.soloteatro.cl , cuenta con el apoyo y patrocinio de SIDARTE (Sindicato de Actores de Chile).</p>

		<p>Este sitio web es una instancia de información de actividades culturales en torno a las artes escénicas, entendiendo estas como: el estudio y la práctica de toda forma de expresión en vivo y frente a un espectador capaz de inscribirse en el universo del teatro, en sus diferentes estilos.</p>

		<p>soloteatro.cl es una cartelera teatral accesible a todo tipo de público a través de una navegación fácil y amable. Su objetivo principal apunta a sensibilizar y formar audiencias para el fomento de la actividad teatral de la Región Metropolitana.</p>

		<h2>Conformación e integrantes</h2>

		<p>soloteatro.cl está formado por actores quienes son los encargados de la gestión y realización del proyecto. Aún cuando el sitio se complementa con profesionales de otras áreas, www.soloteatro.cl es un espacio que enfoca su premisa de trabajo desde la idea central que apela a que la mejor forma de difusión para el teatro proviene desde la mirada de sus propios agentes: <em>los artistas</em>.</p>

	</div>
	<div class="span3">
		<ul class="thumbnails">
			<li class="span12">
				<div class="thumbnail">
					<img src="http://www.soloteatro.cl/contenidoMultimedia/obras/obra_home_201102281415_ADLF110111.7250.jpg" />
					<div class="caption"> Angel Cristi</div>
				</div>
			</li>
			<li class="span12">
				<div class="thumbnail">
					<img src="http://static.lahora.cl/20111128/1410657.jpg" />
					<div class="caption">Kjesed Faundes</div>
				</div>
			</li>
		</ul>
		
	</div>
</div>

<hr />
{% endblock content %}
{% block js_activities %}

{% endblock js_activities %}