{% extends "main_template.html" %}
{% block content %}

<div class="page-header">
	
</div>


<div class="row-fluid readable">
	
	<div class="span6">
		<h1>¿QUE ES SOLOTEATRO?</h1>
		<p>
		Soloteatro.cl es un proyecto de difusión especializado en teatro, sin fines
		de lucro, impulsado en 2007 por un grupo de actores provenientes de la
		UC.
		</p><p>
		A través de su plataforma digital presentamos la más completa cartelera
		de teatro de la Región Metropolitana, brindando un espacio democrático,
		gratuito y especializado para la visibilización de la oferta teatral y la
		formación de nuevas audiencias para el teatro.
		</p><p>
		Pioneros en el desarrollo de sinopsis teatrales, elaboramos contenido
		enfocado al público general, tratando de cubrir sin distinciones, la
		totalidad de las obras de la región.
		</p><p>
		Además, Soloteatro desarrolla un programa de radio a través de la señal
		digital de radio UC y brinda servicios de asesorías comunicacionales
		a los distintos agentes del sector, con el objetivo de contribuir a la
		formación de audiencias y al desarrollo del teatro chileno desde la
		perspectiva de las comunicaciones.
		</p>

	</div>
	<div class="span6">
		<h1>¿QUIENES SOMOS?</h1>

		<p>El actual equipo editorial lo conforman los actores Kjesed Faundes
		(edición de contenidos y comunicaciones), Josefina Yañez (encargada
		audiovisual), Ángel Cristi (webmaster), la periodista Luisa Ballentine
		y el ingeniero informático Leonardo Luarte; y puedes contactarte con
		nosotros a través del mail <a href="mailto:contacto@soloteatro.cl">contacto@soloteatro.cl</a></p>

		<h1>MISIÓN</h1>

		<p>Visibilizar la creación escénica de la RM, formando y sensibilizando espectadores.</p>

		
	</div>
	
</div>
<div class="row-fluid readable">
	<div class="span12">
		<h1>LÍNEA EDITORIAL</h1>
		<p>
			Somos un medio autónomo e independiente, sin vinculación con
			grupos políticos, religiosos o económicos de ningún tipo. Elaboramos
			y publicamos gratuitamente contenidos que apunten a difundir obras
			de teatro entre un público no especializado, generando reflexiones y
			noticias relacionadas exclusivamente con la teatralidad.
		</p>
		<p>
			Todos los contenidos del sitio son elaborados y/o editados por el
			comité editorial, no se venden y están basados en la información que
			proporcionan las mismas compañías o salas de teatro. Por lo mismo,
			Soloteatro no se hace responsable por eventuales cambios de horarios
			o suspensiones de funciones que no hayan sido advertidos con la debida
			antelación.

		
		</p>
		<p>
			Contribuimos además con la generación de un archivo digital de todas
			las obras en cartelera que hayan sido publicadas desde el 2007, el que
			cuenta con más de 5000 fichas.

		
		</p>
		<p>
			Ostentamos el derecho de propiedad de todos los elementos del portal,
			los cuales están disponibles con licencia Creative Commons para su
			reproducción citando la fuente.

		
		</p>
		<p>
			Creemos que el principal problema del teatro chileno es la falta de
			público y por ello, agradecemos incluir en la papelería de las obras,
			sitios web u otros de las compañías y salas, menciones a Soloteatro.cl,
			ya que ayudando a difundir el sitio se ayuda a difundir también el
			trabajo de nuestros pares. Asimismo, pedimos a modo de canje
			entradas para regalar a nuestros visitantes, invitaciones a estrenos y
			respeto por nuestro trabajo voluntario.
		</p>
	</div>
</div>
<hr />
{% endblock content %}
{% block js_activities %}

{% endblock js_activities %}