{% extends "main_template.html" %}
{% block content %}

<div class="page-header">
	<h1>Links Amigos</h1>
</div>


<div class="row-fluid" style="font-family: serif;">
	
	<div class="span4">
		<ul style="font-size: 1.2em; line-height: 2em;">
			<li><a href="http://www.chileescena.cl">ChileEscena</a></li>
			<li><a href="http://www.cnca.cl">Consejo Nacional de la Cultura y las Artes</a></li>
			<li><a href="http://www.sidarte.cl">Sindicato de Actores</a></li>
			<li><a href="http://www.redsalasdeteatro.cl">Salas de Teatro Región Metropolitana</a></li>
			<li><a href="http://www.fototeatro.cl">FotoTeatro</a></li>
			<li><a href="http://www.espaciosculturales.cl">Espacios Culturales</a></li>
			<li><a href="http://www.escueladeespectadores.cl/">Escuela de Espectadores</a></li>
			<li><a href="http://estudiosteatrales.cl/">Estudios Teatrales</a></li>
			<li><a href="http://www.estoy.cl/">Revista Estoy</a></li>
			<li><a href="http://www.santiagoamil.cl">Festival Internacional Santiago a Mil</a></li>
			<li><a href="http://www.arquitecturateatralenchile.cl/">Arquitectura Teatral</a></li>
			<li><a href="http://www.translab.co.cc/">Translab</a></li>
			<li><a href="http://www.tablaspenquistas.blogspot.com">Cartelera Concepción</a></li>
		</ul>
	</div>
	<div class="span8">
		<img src="http://7f88667c88b12953ee82-55c4b09217a3904c3b0480cb6cf80c45.r25.cf1.rackcdn.com/links.jpg" />
	</div>
</div>

{% endblock content %}
{% block js_activities %}

{% endblock js_activities %}