/* Soloteatro custom style */
/* Overwrites some Bootstrap values */
.jumbotron .inner
{
	background: none;
	-webkit-box-shadow: none;
}
.jumbotron h1, .jumbotron p
{
	color: #db7221;
}
.navbar-inner
{
	border-radius: 0;
}
.navbar .nav > li > a,.navbar a.brand
{
	color: white;
}

.navbar
{}
	.navbar.soloteatro
	{
		margin-top: 0px;
	}
	.navbar.soloteatro .navbar-inner
	{
		background-color: #db7221; 
		background-image: none;
		margin-top: 0px;
		border-top: 0px;
	}

	.navbar.soloteatro .navbar-inner .nav a
	{
		text-transform: capitalize;
	}

body
{ 
	background-image: url(http://subtlepatterns.com/patterns/light_wool.png);
	color: #080808;
}

.carousel span.panelLink
{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
} 
.carousel .carousel-control
{
	z-index:2;
}


.navbar.navigation
{
	margin-top: 2em;
}
	.navbar.navigation.soloteatro .navbar-inner
	{
		background-color: #00aff0;
		background-image: none;
	}
.divider
{
	margin-top:18px;
}
gap { margin-top:9px; margin-bottom:9px;}
.navbar .divider-vertical
{
	background-color: #cb6211;
	border-right: 1px solid #db7221
}

.vertical-text
{
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	margin-top: 30px;
	font-size: xx-large;
	vertical-align:center;
}
.greeter
{
	background-color:#fff;
	padding-top: 20px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover 
{
	background-color: #C3681F
}
.carousel
{
	background-color:#eee;
	color: white;
}
.carousel h1
{
	font-size: 20px;
}
.carousel p
{
	font-size: 1em;
}
.carousel .carousel-inner img { margin: 0px auto;}
.carousel img
{
	max-height: 300px;
}
.carousel-caption
{
	background-color:rgba(0,0,0,0.5);

}
.capitalize
{
	text-transform: capitalize;
}
.row-fluid .presentation-mosaic li
{
	background-color: #eee; margin: 0px; width: 30%;padding:0; position:relative;
}
.row-fluid .presentation-mosaic .thumbnail { padding:0;border:0; }
.row-fluid .presentation-mosaic .thumbnail .caption { position: absolute; bottom: 30px; left:10px; background-color:rgba(255,255,255,0.5); width:100%; }
/*.carousel-caption p {color: #333;}
.carousel-control {top: 90%;}*/
section{ margin-bottom: 1.5em;}

footer.footer
{
	background-color: rgba(200,200,200,0.25);
	padding: 1em;
	font-size: 19px;
}

a.brand
{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


.day-names .day-name
{
	margin: 1px;
	width: 12.5%;
	height: 20px;
	background-color: #DB7221;
	-webkit-border-radius: 10px;
	padding: 0.5;
	text-align: center;
	font-size: 14pt;
	padding-top: 5px;
	color: white;
}

.week .day
{
	cursor: pointer;
	margin: 1px;
	width: 12.5%;
	height: 20px;
	background-color: rgba(255,255,255,0.9);
	-webkit-border-radius: 10px;
	border: solid 1px rgba(0,0,0,0.1);
	padding: 0.5;
	text-align: center;
	font-size: 14pt;
	padding-top: 5px;
	color: black;
}
.week .day:hover
{
	background-color: rgba(0,85,128,0.2);
	-webkit-animation:myfirst 0.5s;
}	
	@-webkit-keyframes myfirst /* Safari and Chrome */
	{
		from {background:rgba(0,85,128,0);}
		to {background:rgba(0,85,128,0.2);}
	}

.week .day.today
{
	border: #DB7221 2px solid;
	padding-top: 4px;
}
.week .day.other-month
{
	color: #aaa ;
}
.week .day.has-shows
{
	border: solid 1px rgba(0,0,0,0.3);
}

section.montage-description
{
	font-family: serif;
	font-size: 1.2em;
	line-height: 1.4em;
}


div.season-details
{
	background-color: #db7221; 
	color: white;
	padding: 0 1em 0 1em;
}
	div.season-details a
	{
		text-decoration: underline;
		color: white;
	}
div.presentation-details
{
	background-color: #e5e7da;
	color: #747669;
	margin-top: 1em;
}

.readable
{
	line-height: 1.55em; 
	font-family: georgia, times, serif; 
	font-size: 19px; 
	text-rendering: optimizelegibility;
}
.top-header
{
	height: 83px;
	background:url(http://bit.ly/VHyAcA);
	background-size:500px 83px;
	background-repeat:no-repeat; 
	background-position: right;
}