{% extends "main_template.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span8">
		<h1 style="text-transform:capitalize;">{{genre}}</h1>
	</div>
	<div class="span4">
		<p>{{current_shows.count}} Actos en esta categoria</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span9">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Director</th>
					<th>G&eacute;nero</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{%for montage in montage_list%}
					<tr>
						<td>{{montage.name}}</td>
						<td>{{montage.director}}</td>
						<td>{{montage.genre}}</td>
						<td>
							<a href="/admin/montages/{{montage.slug}}">Ver</a>
						</td>
					</tr>
				{%endfor%}
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</div>
	<div class="span3">
		<h2>Opciones</h2>
		<a href="/admin/montages/add" class="btn btn-primary btn-large"><i class="icon-plus-sign icon-white"></i> Nuevo Montaje</a>
	</div>
</div>
{% endblock content %}