{% extends "main_template.html" %}
{% block content %}


<div class="row-fluid">
	<div class="span8">
		<h1 style="text-transform:capitalize;">{{genre.name}}</h1>
	</div>
	<div class="span4">
	</div>
</div>
<section>
	<div class="row-fluid" >
		<div class="span9" style="">
			<ul class="thumbnails presentation-mosaic">
	        {%for season in open_seasons%}
		        <li class="span4" style="">
		        	<a href="/obras/{{season.montage.slug}}">
			          	<div class="thumbnail" style="" >
			            	<div class="caption" style="">
			              		<h5>{{season.montage.name}}</h5>
			            	</div>
			            {{ season.best_picture}}
			            {% for media in season.related_media %}
			            	{% if media.class_name == 'STPicture' and forloop.first %}
						    <img src="{{media.url}}" alt="{{season.montage.name}}" class="span12"/>
						    {% endif %}
				        {% empty %}
			            	<img style="min-height:180px" src="http://bit.ly/WkY9kw" alt="" />
			            {% endfor %}
			          	</div>
		          	</a>
		        </li>
		    {%endfor%}
			</ul>
		</div>
	</div>
</section>

{% endblock content %}
