{% extends "main_template.html" %}
{% block content %}


<div class="row-fluid">
	<div class="span8">
		<h1 style="text-transform:capitalize;">{{genre}}</h1>
	</div>
	<div class="span4">
	</div>
</div>
<section>
	<div class="row-fluid" >
		<div class="span9" style="">
			<ul class="thumbnails presentation-mosaic">
	        {%for season in open_seasons%}
		        <li class="span4" style="">
		          <div class="thumbnail" style="" >
		            <div class="caption" style="">
		              <h5>{{season.montage.name}}</h5>
		            </div>
		            <a href="/obras/{{season.montage.slug}}">
		            {% for media in season.pictures %}
		            	{% if forloop.first %}
			                <img style="max-height: 180px; max-width: 320px;min-height:180px" src="{{media.url}}" />
			            {% endif %}
			        {% empty %}
		            	<img style="min-height:180px" src="http://placehold.it/320x180" alt="" />
		            {% endfor %}
		        	</a>
		          </div>
		        </li>
		    {%endfor%}
			</ul>
		</div>
	</div>
</section>

{% endblock content %}
